/* NAVBAR AND FOOTER STYLE IN MAIN CSS FILE IN ROOT FOLDER */
.container-fluid {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#about-main {
  padding-top: 75px;
  padding-bottom: 50px;
}

h1 {
  color: rgb(212, 212, 212);
  padding-bottom: 25px;
}

section img {
  max-width: 400px;
  width: 100vw;
  /* border-radius: 5px; */
}

#main-image {
  position: relative;
  /* margin: auto; */
  /* max-height: 80vh; */
  max-width: 400px;
  width: 100vw;
}

.about-buttons {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background-color: rgba(212, 212, 212, 0);
  border: 10px solid rgba(212, 212, 212, 0.5);
  /* border: 10px solid red; */
  border-radius: 5px;
  z-index: 3;
}

.about-buttons:hover {
  border: 10px solid rgba(212, 212, 212, 0.8);
  background-color: rgba(212, 212, 212, 0.2);
}

.handle-button {
  height: 15%;
  width: 15%;
  top: 36%;
  left: 47.5%;
}

.control-unit-button {
  height: 20%;
  width: 20%;
  top: 55%;
  left: 44%;
}

.fan-button {
  height: 13%;
  width: 13%;
  top: 86%;
  left: 44%;
}
/* .test {
    min-height: 100%;
} */

/* .left-img, .right-img {

} */

.description {
  font-size: 5vmin;
  margin: 10vw;
  color: white;
}
.description strong{
  font-size: 10vw;
}

/* .side-images { */
  /* EXPERIMENT: side images are invisible to start */
  /* visibility: hidden; */
/* } */

/* p.side-images {
  margin: 10px;
  padding: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  border: solid 2px white;
  color: black;
  text-align: left;
} */


.bottom-casing {
  margin-top: auto;
}
