/* NAVBAR AND FOOTER STYLE IN MAIN CSS FILE IN ROOT FOLDER */
.container-fluid {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#about-main {
  padding-top: 75px;
  padding-bottom: 50px;
}

h1 {
  color: rgb(212, 212, 212);
  padding-bottom: 25px;
}

section img {
  max-width: 400px;
  width: 100vw;
  /* border-radius: 5px; */
}

#main-image {
  /* margin: auto; */
  /* max-height: 80vh; */
  max-width: 400px;
  width: 100vw;
}

.left-img, .right-img {

}

.description {
  font-size: 5vmin;
  margin: 10vw;
  color: white;
}
.description strong{
  font-size: 10vw;
}

/* .side-images { */
  /* EXPERIMENT: side images are invisible to start */
  /* visibility: hidden; */
/* } */

p.side-images {
  margin: 10px;
  padding: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  border: solid 2px white;
  color: black;
  text-align: left;
}


.bottom-casing {
  margin-top: auto;
}
