/* NAVBAR AND FOOTER STYLE IN MAIN CSS FILE IN ROOT FOLDER */
.container-fluid {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#about-main {
  padding-top: 75px;
  padding-bottom: 50px;
}

h1 {
  color: rgb(212, 212, 212);
  padding-bottom: 25px;
}

section img {
  max-width: 400px;
  width: 100vw;
  /* border-radius: 5px; */
}

#main-image {
  /* margin: auto; */
  /* max-height: 80vh; */
  max-width: 400px;
  width: 100vw;
}

.handle-button {
  position: absolute;
  height: 15vw;
  width: 15vw;
  max-width: 100px;
  max-height: 100px;
  top: 36%;
  left: 45%;
  background-color: rgba(212, 212, 212, 0);
  border: 10px solid rgba(212, 212, 212, 0.5);
  /* border: 10px solid red; */
  border-radius: 5px;
  z-index: 3;
}
.handle-button:hover {
  border: 10px solid rgba(212, 212, 212, 0.8);
  background-color: rgba(212, 212, 212, 0.2);
}
.control-unit-button {
  position: absolute;
  height: 18vw;
  width: 18vw;
  /* max-width: 100px; */
  /* max-height: 100px; */
  top: 54%;
  left: 37%;
  background-color: rgba(212, 212, 212, 0);
  border: 10px solid rgba(212, 212, 212, 0.5);
  /* border: 10px solid red; */
  border-radius: 5px;
  z-index: 3;
}
.control-unit-button:hover {
  border: 10px solid rgba(212, 212, 212, 0.8);
  background-color: rgba(212, 212, 212, 0.2);
}
.fan-button {
  position: absolute;
  height: 13vw;
  width: 13vw;
  max-width: 100px;
  max-height: 100px;
  top: 87%;
  left: 40%;
  background-color: rgba(212, 212, 212, 0);
  border: 10px solid rgba(212, 212, 212, 0.5);
  /* border: 10px solid red; */
  border-radius: 5px;
  z-index: 3;
}
.fan-button:hover {
  border: 10px solid rgba(212, 212, 212, 0.8);
  background-color: rgba(212, 212, 212, 0.2);
}
/* .test {
    min-height: 100%;
} */

.left-img, .right-img {

}

.description {
  font-size: 5vmin;
  margin: 10vw;
  color: white;
}
.description strong{
  font-size: 10vw;
}

/* .side-images { */
  /* EXPERIMENT: side images are invisible to start */
  /* visibility: hidden; */
/* } */

p.side-images {
  margin: 10px;
  padding: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  border: solid 2px white;
  color: black;
  text-align: left;
}


.bottom-casing {
  margin-top: auto;
}
